<div id="productInList<%= id %>" class="bProductListItem clearfix mFl">
<a class="bProductListItem__eImgLink jsRedirect mLoading" data-screentype='product' data-productid='<%= id %>' href="#"><img class="bProductListItem__eImg" src="<%= image %>" alt="<%= name %>" /></a>
	<div class="bProductListItem__eDesc">
		<h2 class="bProductListItem__eTitle">Серия <%= name %></h2>
		<p class="bProductListItem__ePriceBlock">Средняя цена <span class="bProductListItem__ePrice"><%= price %></span> <span class="bProductListItem__ePrice bRuble">p</span> за набор</p>
		<div class="bProductListItem__eBtnBlock">
			<ul class="bProductListItem__eAboutBlock">
				<li class="bProductListItem__eAboutBlockItem mListDisk">Наборов: <%= kitCount %></li>
				<li class="bProductListItem__eAboutBlockItem mListDisk">Предметов: <%= productCount %></li>
			</ul>
			<a class="bProductListItem__eBtn bButton mOrangeBtn" href="#">смотреть наборы</a>
			<a class="bProductListItem__eBtn bButton mOrangeBtn" href="#">собрать свой набор</a>
			<p class="bProductListItem__eF1Block">Доставит и соберет</p>
		</div>
	</div>
</div>