<div id="productInList<%= id %>" class="bProductListItem clearfix mFl">
<a class="bProductListItem__eImgLink mLoading jsRedirect" data-screentype='product' data-productid='<%= id %>' href="#"><img class="bProductListItem__eImg" src="<%= image %>" alt="<%= name %>" /></a>
	<div class="bProductListItem__eDesc">
		<h2 class="bProductListItem__eTitle">Серия <%= name %></h2>
		
		<div class="bProductListItem__eBtnBlock">
			<p class="bProductListItem__ePriceBlock"><span class="bProductListItem__ePrice"><%= price %></span> <span class="bProductListItem__ePrice bRuble">p</span></p>
			<a class="bProductListItem__eBtn bButton mOrangeBtn jsBuyButton" data-productid='<%= id %>' href="#">купить набор</a>
			<p class="bProductListItem__eF1Block">Доставит и соберет</p>
		</div>
	</div>
</div>